{#<!DOCTYPE html>
<html>
  <head>
    <title>Welcome on my first page !</title>
  </head>
  <body>
    <h1>Hello World !</h1>

    <p>
      Our own "Hello World!" éàù {{firstname}}_{{name}}<br/>
      L'url qui a été générée est {{url}}
    </p>
  </body>
</html> #}

{% extends "SparrowPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block sparrowplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('sparrow_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
  
  {% endblock %}
